@import url(bootstrap.min.css);

@font-face {
    font-family: ArabicBold;
    src: url("../fonts/AdobeArabic-Bold_0.otf") format("opentype");
}
@font-face {
    font-family: ArabicBoldItalic;
    src: url("../fonts/AdobeArabic-BoldItalic_0.otf") format("opentype");
}
@font-face {
    font-family: ArabicItalic;
    src: url("../fonts/AdobeArabic-Italic_0.otf") format("opentype");
}
@font-face {
    font-family: ArabicRegular;
    src: url("../fonts/AdobeArabic-Regular_0.otf") format("opentype");
}
@font-face {
    font-family: CheddarJack;
    src: url("../fonts/Cheddar Jack.ttf") format("truetype");
}

@font-face {
    font-family: GothamBook;
    src: url("../fonts/Gotham Book Regular.otf") format("opentype");
}

@font-face {
    font-family: GothamMedium;
    src: url("../fonts/ufonts.com_gotham-medium.ttf") format("truetype");
}

body {
    font-family:ArabicBold;
    font-size: 18px;
}

.alignRight {
    text-align: right !important;
}

.alignCenter {
    text-align: center !important;
}

.colorRed {
    color: #af0118 !important;
}

a:hover, a:active  {
    text-decoration:none;
    color:#af0118 !important;
}
a {
    text-decoration:none !important;
    color:black;

}
textarea.vert { resize:vertical; }

.col-xs-15{
    width:20%;
}
/* Col same height**/

/* content styles */


.inside-full-height {
    /*
    // if you want to give content full height give him height: 100%;
    // with content full height you can't apply margins to the content
    // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
    */
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

/* columns of same height styles */

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}
.col-top {
    vertical-align: top;
}
.col-middle {
    vertical-align: middle;
}
.col-bottom {
    vertical-align: bottom;
}

@media (min-width: 480px) {
    .row-xs-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-xs-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-xs-top {
        vertical-align: top;
    }
    .col-xs-middle {
        vertical-align: middle;
    }
    .col-xs-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-sm-top {
        vertical-align: top;
    }
    .col-sm-middle {
        vertical-align: middle;
    }
    .col-sm-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 992px) {
    .row-md-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-md-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-md-top {
        vertical-align: top;
    }
    .col-md-middle {
        vertical-align: middle;
    }
    .col-md-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-lg-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-lg-top {
        vertical-align: top;
    }
    .col-lg-middle {
        vertical-align: middle;
    }
    .col-lg-bottom {
        vertical-align: bottom;
    }
}
/****/

.divCarrito {
    margin-left:10px;
    display:inline !important;
}

.divContainerLoginData {
    background-color:#f6f6f6;
    box-shadow: 2px 2px 5px #E9E8E8;
    -webkit-box-shadow: 2px 2px 5px #E9E8E8;
    -moz-box-shadow: 2px 2px 5px #E9E8E8;
    filter: shadow(color=#E9E8E8, direction=135, strength=2);
    text-align:right;
    margin-bottom:20px;
    padding-bottom:5px;
    padding-top:5px;
    font-size:18px;
    overflow: hidden;
}

.divNavegacion {
    font-size:14px;
    font-weight:600;
}

.divContainerLoginData a{
    color:black;
}
.separador {
    margin-left:5px;
    margin-right:5px;
}

.dropdown {
    display:inline;
}

.divRedes {
    display:float;
    text-align:right;
}

.divRedes a {
    display: inline-block;
    height: 31px;
    width: 32px;
}

.divRedes .facebook {
    background: #fff url(../Resources/face.png) top center no-repeat
}
.divRedes .facebook:hover {
    background: #fff url(../Resources/face.png) bottom center no-repeat
}

.divRedes .twitter {
    background: #fff url(../Resources/twitter.png) top center no-repeat
}
.divRedes .twitter:hover {
    background: #fff url(../Resources/twitter.png) bottom center no-repeat
}

.divRedes .instagram {
    background: #fff url(../Resources/insta.png) top center no-repeat
}
.divRedes .instagram:hover {
    background: #fff url(../Resources/insta.png) bottom center no-repeat
}



.linksRightNav {
    text-align:right;
    padding-top:7px;
    font-size:20px;
}
.containerRedesLinksRight {
    padding-left:20px;
}

.divLogoPrincipal {
    padding-left:0px;
    padding-right:0px !important;
}
.linksLeftNav {
    padding-top:45px;
    padding-right:20px;
    font-size:20px;
}
.linksLeftNav  a, .linksRightNav  a{
    color:black;
}



.divContainerSuscripcionInputs {
    margin-left:25px;
    height:30px;
    display:inline-block;
}

.noPaddingLeft {
    padding-left:0px !important;
}

.noPaddingRight {
    padding-right:0px !important;
}

.divContacto {
    padding-top:20px;
    padding-bottom:10px;
    font-size:18px;
}
.divContacto  span{
    margin-bottom:15px;
}

.divContacto  .glyphicon{
    margin-right:5px;
}

.divCopyright{
    padding-top:0px;
    border-left:1px solid #A8A8A8;
    border-right:1px solid #A8A8A8;
    text-align:center;
}
.divLinkFooter{
    padding-top:20px;
    padding-bottom:10px;
    padding-left:50px;
    font-size:11px;
    font-family:ArabicRegular;
    font-size:16px;
    list-style-type: disc;
}

.divLinkFooter  a, .footer  span{
    color:#333;
    font-weight: normal;
}

.footer {
    background: -webkit-linear-gradient(#f2f2f2, white, #f2f2f2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f2f2f2, white, #f2f2f2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f2f2f2, white, #f2f2f2); /* For Firefox 3.6 to 15 */
    background: linear-gradient( 180deg, #f2f2f2, white 30%, white 70%, #f2f2f2);
    border-top:2px solid #E9E8E8;
    font-weight:600;
    font-family: ArabicBold;;
    padding: 30px 0;
}

footer.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.FooterVentasMay{
    font-size:18px;
}

.FooterCopy {
    font-size:16px;
    font-weight:400;
}

.FooterDesignBy {
    font-size:16px;
    font-weight:400;
}

.logoFooter {
    margin-bottom:10px;
}


.tituloPage {
    background-color:#b1011b;
    margin-bottom:30px;
}

.tituloPage  h1{
    color:white;
    font-size:14px;
    font-family:GothamBook;
    font-weight:600;
    padding-bottom:5px;
    padding-top:5px;
    padding-left:25px;
    letter-spacing: 5px;
}
/*categoria Inicio*/

.listaCategorias {
    list-style-type: none;
    padding-left:10px;
    text-align:center;
    margin-bottom:30px;
}

.listaCategorias li{
    border-bottom:1px solid black;
    padding-bottom:22px;
    margin-top:22px;
}

.listaCategorias li h2 a{
    color: #000000;
    cursor: pointer;
    cursor: hand;
}



.listaCategorias li:first-child{
    margin-top:0px !important;
}

.noBorderBottom {
    border-bottom:none !important;
}

.noMarginTop {
    margin-top:0px !important;
}
.listaCategorias h2{
    font-size:24px;
    font-family:CheddarJack;
    margin-top: 0;
    margin-bottom: 0;
}

/***********************************************/
/*Categoria producto*/
.breadcrumb {
    background-color:white;
    padding: 0;
    border-bottom:1px solid black;
    border-radius: 0;
    font-family:ArabicBold;
    font-size: 22px;

}
.breadcrumb  a{
    color:black ;
}


.breadcrumb > li + li:before {
    color: black;
    content: "> ";
    padding: 0;
}

.breadcrumb>.active{
    color:black ;
    font-family:ArabicBoldItalic;
}

.ImagenGriseada {
    margin-bottom:10px;
    padding:0;
}
.ImagenGriseada  img {
    filter: grayscale(90%);
    -webkit-filter: grayscale(90%);
    -moz-filter: grayscale(90%);
    -ms-filter: grayscale(90%);
    -o-filter: grayscale(90%);
    border-radius:4px;

}
.idProducto {
    font-family:ArabicItalic;
    font-size: 20px;
}
.nombreProducto {
    font-family:ArabicBold;
    font-size:20px;
}
.precioProducto {
    font-family:ArabicBold;
    font-size:35px;
    display:block;
    line-height:0.4;
}
.imagenesColoresCatalogoProductos img {
    display:inline;
    width:20px;
    height:13px;
    margin-top:5px;
}
.linkVerMas {
    font-family:ArabicBold;
    font-size: 20px;
    color:#c63a4f;

}
.contenedorCatalogoProductos {
    padding-right:0px;
}
.contenedorCatalogoProductos .row {
    margin-left:0;

}
.menuCatalogoProducto {
    border:2px solid #818181;
    border-radius:2px;
    padding:0;
}

.TitulomenuCatalogoProducto{
    float:left;
    padding:0 5px;
    margin:-15px 0 0 20px;
    background:#fff;
    font-family:CheddarJack;
    font-size:24px;
    font-weight:600;

}

.contenedorCatalogoProductos {
    margin-bottom:40px;
}

.productoCatalogo {
    text-align:center;
}
.imagenProductoCatalogoProducto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    max-height:250px !important;
    /* max-width:250px !important;*/
}
.divImagenProductoCatalogoProducto {
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    height:250px !important;
    /*width:250px !important;*/
}

.productoMenuCatalogoProducto{
    font-family:Gotham;
    font-style:italic;
    font-weight:600;

    font-size:17px;
}

.codigoMenuCatalogoProducto {
    font-family:Gotham;
    line-height:0.4 !important;
    display:block;
    font-style:italic;

    font-size:15px;
}

.menuCatalogoProducto ul {
    margin-top:30px;
    padding-left:25px;
    padding-right:5px;
}
.menuCatalogoProducto li {
    font-size:16px;
    margin-bottom:20px;
}

.colImagenesProductosCatalogoProductos{
    padding-left:30px;
}

.otrasCategoriasCatalogoProductoMenu {
    border-top: 2px solid #818181;
    text-align:center;
    font-family:CheddarJack;
    padding-top:10px;
    padding-bottom:20px;
}
.otrasCategoriasCatalogoProductoMenu a{
    font-size:24px;
    color:black;
}
/**producto detalle***/

.idProductoDetalle {
    font-family:ArabicRegular;
    font-size: 18px;
    color:black;
    line-height:0.9 !important;

}
.nombreProductoDetalle {
    font-family:ArabicBold;
    font-size:20px;
    line-height:0.8 !important;
}
.containerNombreProductoDetalle {
    border-bottom:1px solid #d9d9d9;
    margin-top:15px;
    margin-bottom:15px;
}
.precioProductoDetalle {
    font-family:ArabicBold;
    font-size:28px;
    margin-right:8px;

    line-height:0.4;
}
.botonRojo {

    background-color:#b1001a;
    display:inline;
    color:white;
    padding:3px 10px 3px 10px;
    font-family:ArabicBold;
    font-size:16px;
    letter-spacing: 1px;
}

.botonNegro {

    background-color:black;
    display:inline;
    color:white ;
    padding:2px 8px 2px 8px;
    font-family:ArabicBold;
    font-size:16px;
    letter-spacing: 1px;
    margin-left:10px;
}

.botonNegro:hover {
    background-color: #970216;
}

.botonNegro  a{
    color:white !important;
}

.botonRojo  img{
    margin-top:-3px;
}

.contornoBlanco {
    display:inline;
    border: 1px solid black;
    padding:3px 2px 4px;
    background-color:white;
    border-radius:2px;

}
.estampasProductoDetalle {
    margin-top:10px;
}
.estampasProductoDetalle  span{
    font-family:ArabicRegular;
    font-size: 18px;
    color:black;
}

.estampasProductoDetalle img {
    width:63px;
    height:55px;
    margin-right: 10px;
}

.talleProductoDetalle {
    border: 1px solid black;
    display:inline;
    padding: 3px 5px 1px 5px;
    margin-right:5px;
}

.cantidadProductoDetalle {
    font-family:ArabicRegular;
    font-size: 18px;
    color:black;
    margin-top:20px;
}

.cantidadProductoDetalle  select{
    font-size: 20px;
    padding-right:10px;
}
.detalleProductoDetalle h5 {
    font-family:ArabicRegular;
    font-size: 18px;
    color:black;
    margin-top:20px;
    margin-bottom:5px;
    line-height:0.5;
}
.detalleProductoDetalle span{
    display: block;
    font-family:ArabicRegular;
    font-size: 16px;
    line-height: 16px;
}
.detalleProductoDetalle textarea {
    width:100%;
    height:120px;
}
.containerBotonAgregarCarrito {
    margin-top:20px;
    text-align:center;
}

.descripcionProductoDetalle h5{
    font-family:ArabicRegular;
    font-size: 20px;
    color:black;
    margin-top:20px;
    margin-bottom:0px;
    line-height:1;
}
.descripcionProductoDetalle p{
    font-family:ArabicRegular;
    font-size: 16px;
    line-height:1;
}



.jssort07 {
    position: absolute;
    /* size of thumbnail navigator container */
    width: 350px;
    height: 100px;
}

.jssort07 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 99px;
    height: 66px;
}

.jssort07 .i {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 99px;
    height: 66px;
    filter: alpha(opacity=80);
    opacity: .8;
}

.jssort07 .p:hover .i, .jssort07 .pav .i {
    filter: alpha(opacity=100);
    opacity: 1;
}

.jssort07 .o {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 97px;
    height: 64px;
    border: 1px solid #000;
    box-sizing: content-box;
    transition: border-color .6s;
    -moz-transition: border-color .6s;
    -webkit-transition: border-color .6s;
    -o-transition: border-color .6s;
}

.jssort07 .pav .o {
    border-color: #0099ff;
}

.jssort07 .p:hover .o {
    border-color: #fff;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

.jssort07 .p.pdn .o {
    border-color: #0099ff;
}

* html .jssort07 .o {
    /* ie quirks mode adjust */
    width /**/: 99px;
    height /**/: 66px;
}


.jssora11l, .jssora11r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 37px;
    height: 37px;
    cursor: pointer;
    background: url(../Resources/detalleProducto/a11.png) no-repeat;
    overflow: hidden;
}

.jssora11l {
    background-position: -11px -41px;
}

.jssora11r {
    background-position: -71px -41px;
}

.jssora11l:hover {
    background-position: -131px -41px;
}

.jssora11r:hover {
    background-position: -191px -41px;
}

.jssora11l.jssora11ldn {
    background-position: -251px -41px;
}

.jssora11r.jssora11rdn {
    background-position: -311px -41px;
}

.imagenCarritoCompras {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:40px;
}

/**Mi Carrito**/

.idProductoMiCarrito {
    font-family:ArabicRegular;
    font-size: 18px;
    color:black;
    line-height:0.9 !important;
    margin-top:5px !important;
}
.nombreProductoMiCarrito {
    font-family:ArabicBold !important;
    font-size:20px;
    line-height:0.8 !important;
    margin-bottom:0px;
}

.tableMiCarrito {
    font-family:ArabicRegular;
    font-size:20px;
    text-align:center;
    border-color:#a1a1a1 !important;
}
.tableMiCarrito p{
    margin:0;
}
.tableMiCarrito  th {
    border-color:#a1a1a1 !important;
    border-bottom-width: 1px !important;
}
.tableMiCarrito  td {
    padding-top:20px !important;
    padding-bottom:20px !important;
    vertical-align: middle !important;
    border-color:#a1a1a1 !important;
}

.finalizarPedidoMiCarrito {
    display:inline;
    text-align:right;
    float:right;
}
.finalizarPedidoMiCarrito  span{
    display:block;
    font-family:ArabicBoldItalic;
    font-size:18px;
    line-height:0.9 !important;
}
.totalMicarrito {
    font-family:ArabicBold !important;
    font-size:30px !important;
}
.botonNegro {

    background-color:#222020;
    display:inline;
    color:white ;
    padding:5px 15px 5px 15px;
    font-family:ArabicBold;
    font-size:16px;
    letter-spacing: 1px;
    margin-left:10px;
}
.botonNegro  span{
    color:white !important;
}
.volverLink {
    font-family:ArabicBold;
    font-size:20px;
    border-bottom:1px solid #a1a1a1;
}

/*Envio y facturacion***/

.containerEnvioYFacturacion h3 {
    border-bottom:1px solid #a1a1a1;
    margin-top:0px;
    margin-bottom:20px;
}

.containerEnvioYFacturacion  {
    font-family:ArabicRegular;
    font-size:25px;
    line-height:0.9 !important;
    padding-right:15px;
}
.boldText {
    font-family:ArabicBold;
}

.bold {
    font-family:ArabicBold;
    font-weight:700;
}

.italic { font-style: italic; }

.subrayado { text-decoration: underline; }

.containerEnvioYFacturacion .col-xs-11 {
    margin-bottom:30px;
}

.containerEnvioYFacturacion .col-xs-11 input{
    width:80%;
}
.tipoFacturacionRadioButton{
    font-family:ArabicBold;
    background-color:#e5e5e5;
    line-height:1.2 !important;
}

.tipoFacturacionRadioButton img{
    float:right;
    margin-right:10px;
    margin-top:6px;
    width:15px;
}

.tipoFacturacionRadioButton span{
    margin-left:10px;
}

.SeguirLink {
    font-family:ArabicBold;
    font-size:20px;
    float:right;
}

.SeguirLink span {
    font-family:arial;font-size:16px;
}

/*Iniciar sesión**/

.containerIniciarSesion {
    padding-right:15px;
}

.containerIniciarSesion .iniciarSesionDiv,
.containerIniciarSesion .crearCuentaDiv{
    border: 1px solid #a1a1a1;
}

.containerIniciarSesion h3 {
    border-bottom:1px solid #a1a1a1;
    margin-top:10px;
    margin-bottom:0px;
}

.containerIniciarSesion input{
    padding-left:6px;
}
.iniciarSesionDiv {
    padding-left:40px;
    padding-right:40px;
    font-family:ArabicRegular;
    font-size:18px;
}

.iniciarSesionDiv input {
    width:100%;
    margin-top:25px;
}
.recuperarPassLink {
    margin-top:25px;
    margin-bottom:25px;
}
.recuperarPassLink  a{
    font-family:ArabicBoldItalic;
    font-size:18px;
    border-bottom:1px solid #a1a1a1;
    line-height:0.3 !important;
    margin-top:25px;
    margin-bottom:25px;
}

.iniciarSesionDiv img {
    margin-bottom:10px;
    margin-top:5px;
}
.crearCuentaDiv input {
    width:100%;
    margin-top:25px;

}
.crearCuentaDiv  {

    padding-left:40px;
    padding-right:40px;
    font-family:ArabicRegular;
    font-size:18px;
}

.mitadWidthInput {
    width:48% !important;
}

.mitadWidthInputDerecha {
    width:48% !important;
    float:right;
}

.divFechaNacimiento {

    width:50%;
    line-height:0.7 !important;
    color:#818181;
}
.divFechaNacimiento input {
    margin-top:0px;
    width:70%;
}
.divFechaNacimiento > div {
    padding-left:5px;
    padding-right:5px;
}

.fechaNacimientoP {
    color:#818181;
    margin-top:20px;
    margin-bottom:0px;
}
.divTermCond {
    width:auto !important;
}

.divTermCondTexto{
    font-family:ArabicBoldItalic;
    font-size:18px;

}

.crearCuentaBoton {
    margin-top:15px;
    margin-bottom:15px;
}

/****/
.facturaAExpandido input[type="text"] {
    padding-top:5px;
    padding-left:5px;
    width:100%;
    margin-bottom:15px;

}
.facturaAExpandido  {
    margin-top:-15px;
    margin-bottom:20px;
    font-family:ArabicRegular;
    font-size:18px;
    color:#818181;
}

.inscriptoExpandido {
    float:right;
    margin-bottom:12px;
    color:#818181;
}

.inscriptoExpandido  span{
    margin-left:10px;

}
.inscriptoExpandido  input{
    margin-left:3px;
}

/*envío y metodo**/

.envioDiv p{
    margin-bottom:20px;
}
.containerEnvioYMetodo  {
    font-family:ArabicRegular;
    font-size:25px;
    line-height:0.9 !important;
    padding-right:15px;
}

.containerEnvioYMetodo h3 {
    border-bottom:1px solid #a1a1a1;
    margin-top:0px;
    margin-bottom:20px;
}

.containerEnvioYMetodo input {
    margin-bottom:10px;
}

.containerEnvioYMetodo  .italic{
    font-size:22px;
}
.italic{
    font-style:italic;
}

.cuenta2Metodo {
    margin-top:40px;
    margin-bottom:40px;
}

.infoRetiroMetodo {
    font-size:22px;
}

.inputTransporteEnvio {
    margin-left:18px;
}

.btnFinalizarDiv {
    margin-top:40px;
    text-align:center;
}

.btnFinalizarDiv a{
    padding-top:5px;
    padding-bottom:5px;
    font-size:20px;
}

/*totalDelPedidoHistorial*/
.totalDelPedidoHistorial {
    text-align:right;
    margin-bottom:30px;
}

.containerPedidosRecientes  {
    font-family:ArabicRegular;
    font-size:25px;
    line-height:0.9 !important;
    padding-right:15px;
}

.containerPedidosRecientes h3 {
    border-bottom:1px solid #a1a1a1;
    margin-top:0px;
    margin-bottom:20px;
}

.containerPedidosRecientes p {
    font-family:ArabicBold;
    line-height:0.5 !important;
}

.containerPedidosRecientes span {
    font-family:ArabicRegular;
}

.containerPedidosRecientes .textoMasChico {
    font-size:22px;
}

.containerPedidosRecientes .textoMasGrande {
    font-size:30px;
}

.containerPedidosRecientes .infoDeLaCuenta h5 {
    font-size:25px;
    font-family:ArabicBold;
    background-color:#f8f8f8;
    margin-bottom:18px;
}

.containerPedidosRecientes .infoDeLaCuenta h5 span{
    float:right;
    font-family:ArabicItalic;
    margin-right:20px;
}
.containerPedidosRecientes .infoDeLaCuenta  p{
    font-family:ArabicRegular;
    font-size:22px;
}

.containerPedidosRecientes .infoDeLaCuenta .titulo {
    font-family:ArabicBoldItalic;
}

.verDetalleLink {
    margin-bottom:10px;
    font-family:ArabicRegular !important;

}
.verDetalleLink  a{
    border-bottom:1px solid #a1a1a1;
}

.containerPedidosRecientes .tableMiCarrito {
    margin-top:30px;
    margin-bottom:20px;

}

.containerPedidosRecientes .tableMiCarrito p{
    font-family:ArabicRegular ;
}

.finalizarPedidoTextoDiv {
    text-align:center;
    font-family:ArabicRegular;
    font-size:22px;
}

.finalizarPedidoTextoDiv  .finalizarEnvio{
    margin-top:10px;
    max-width:600px;
    font-family:ArabicItalic;
    font-size:20px;
    margin-left:auto;
    margin-right:auto;
}

.finalizarPedidoTextoDiv  span{
    line-height:0.9;
    display:block;
}

.container-min {
    max-width: 1000px;
    margin: 0 auto;
}

.full-width {
    height: auto;
    width: 100%;
}

.m-t-10 {
    margin-top: 10px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.font-20 { font-size: 20px; }

.border-b-red {
    border-bottom: 1px solid #970216;
}

#contacto {
    font-size: 20px;
}

#contacto input,
#contacto textarea {
    border: 1px solid #000;
    margin-bottom: 22px;
    max-width: 528px;
    width: 100%;
}

#contacto input[type="submit"] {
    text-transform: uppercase;
    width: auto;
}

#guia-talles .content {
    font-size: 22px;
}

#guia-talles .info {
    border:  1px solid #ccc;
    padding: 30px 50px;
    text-align: center;
}

.font-normal {
    font-family: ArabicRegular;
}

.font-white { color: #fff !important; }

.zoomLens {
    background: none !important;
    border: 0 !important;
}

.hoverImagenDelProducto:hover {
    cursor: pointer;
}

.hoverImagenDelProducto:hover img {
    /*min-width: 400px;*/
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}

.hoverImagenDelProducto:hover .hoverNombreDelProducto {
    background-color: #af0118;
    color: #fff;
    width: 100%;
}

#resumen-carrito {
    background-color: #fff;
    box-shadow: 2px 2px 5px #e9e8e8;
    margin-top: 10px;
    padding: 15px 10px;
    position: fixed;
    right: 90px;
    text-align: left;
    max-width: 500px;
    z-index: 9999;
    max-height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#resumen-carrito h3 {
    border-bottom: 1px solid #a1a1a1;
    margin-bottom: 20px;
    margin-top: 0;
}

#resumen-carrito img {
    width: 100%;
    height: auto;
}

#resumen-carrito .border-right {
    border-right: 1px solid #a1a1a1;
    clear: left;
}

#resumen-carrito .margin-top-30 {
    margin-top: 30px;
}

#resumen-carrito .price {
    color: #af0118;
    margin-top: 20px;
}

#resumen-carrito .shopping-data {
    line-height: 1;
    clear: both;
    display: block;
}

#resumen-carrito .shopping-total {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-right: 15px;
}

.modal-content {
    border-radius: 0;
}

.modal-content .modal-body .border-gray {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.modal-content .modal-body h2,
.modal-content .modal-body h4 {
    margin-bottom: 15px;
}

.p-top-25 {
    padding-top: 25%;
}

.p-top-5 {
    padding-top: 5%;
}


#addItemOk .modal-dialog { max-width: 430px; }
#modalOk .modal-dialog { max-width: 500px; }



/* NUEVA MAQUETACION
-------------------------------------------------------------------------------*/

.btnSuscripcion {
    background-color: #af0118;
    color: white;
    padding: 4px 35px 0 35px;
    border: 0;
    font-size: 16px;
}

.CatalogoProductoTextoImagen{
    color: white ;
    font-size: 90px;
    font-family: CheddarJack;
    padding: 25px 0;
    text-shadow: 0.1em 0.1em 0.2em black;
    width: 100%;
}

.font-cheddar {
    font-family: CheddarJack;
}

.font-24 {
    font-size: 24px;
}

.float-left { float: left; }

.float-right { float: right; }

/* NAVEGACION */
nav { margin-bottom: 35px; }

.nav-mobile { display: none;}


/*
 * HOME
 * *********************** */

/* SLIDER */
.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
img-responsive, .thumbnail a > img,
.thumbnail > img { width: 100%; }

/* CATEGORIAS LISTADO */
.categoriasHome { margin: 40px 0;}

.categoriasHome div {
    display: inline-block;
    margin: 0.9%;
    padding: 50px 0;
    text-align: center;
    vertical-align: top;
    width: 18%;
}

.categoriasHome div:first-child {
    margin-left: 0;
}

.categoriasHome div:last-child {
    margin-right: 0;
}

.categoriasHome div a {
    color: white ;
    font-size: 32px;
    font-family: CheddarJack;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.categoriasHome div a:hover {
    color: white !important;
}

/* SUSCRIPCION */
.divSuscripcion {
    border: 1px solid #af0118;
    margin-bottom: 50px;
    overflow: hidden;
    padding: 20px 0 15px;
}

.divSuscripcion .emailInput {
    font-family: Cambria;
    font-size: 16px;
    margin-right: -5px;
    padding-left: 5px;
    width: 250px;
}



/* Media Querys
-------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px){
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 96%;
    }

    .linksLeftNav {
        padding-right: 0 !important;
    }

    .containerRedesLinksRight {
        padding-left: 0 !important;
    }
}

@media screen and (max-width: 1100px){
    nav a {
        font-size: 18px;
    }

    #resumen-carrito {right: 10px;}

    footer .col-xs-3 {
        width: 33.3333%;
    }

    footer .col-xs-offset-1 {
        margin-left: 0;
    }

    #img_01 {width: 300px !important;}

    .botonRojo{
        padding: 3px 8px !important;
    }

    .CatalogoProductoTextoImagen {
        width: 100% !important;
        text-align: center;
        font-size: 60px;
        top: 28%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .TitulomenuCatalogoProducto {
        font-size: 20px;
    }
}


@media screen and (max-width: 980px){
    nav { display: none; }

    .nav-mobile {
        clear: both;
        display: block;
        padding: 0 0 30px;
    }

    .nav-mobile .button {
        margin-top: 38px;
    }

    #nav2 {
        background-color: #fff;
        position: fixed;
        right: 0;
        top: 120px;
        width: 300px;
        z-index: 1000;
    }

    #nav2 ul { list-style: none; }

    .menuCatalogoProducto {display: none;}

    .categoriasHome div:first-child {
        padding: 27px 0;
    }

    .divSuscripcion,
    .divSuscripcion .text-right {
        text-align: center !important;
    }

    .colImagenesProductosCatalogoProductos {
        padding-left: 15px;
    }
}

@media screen and (max-width: 870px){
    .categoriasHome div {
        margin: 0.8%;
    }
}

@media screen and (max-width: 500px){
    .categoriasHome div {
        margin: 0.8% 0;
        padding: 50px 0 !important;
        width: 100%;
    }

    .detalleProducto .contornoBlanco,
    .detalleProducto .contornoBlanco a,
    .detalleProducto .contornoBlanco a .botonRojo,
    .btnFinalizarDiv .botonRojo,
    .btnFinalizarDiv .botonNegro {
        display: block;
        text-align: center;
    }

    .btnFinalizarDiv .botonRojo,
    .btnFinalizarDiv .botonNegro {
        margin: 5px 0;
    }
}