@import url(bootstrap.min.css);
@import url(dataTables.bootstrap.css);
@import url(ladda-themeless.min.css);
@import url(sweet-alert.css);
@import url(datepicker.css);
@import url(bootstrap-select.css);
@import url(fileinput.min.css);


/* FONTS
****************************************************************************** */
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);*/
@import url(font-awesome.min.css);
/*@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);*/


/* GENERAL
****************************************************************************** */
html, body {
    height: 100% !important;
    left: 0;
    top: 0;
    width: 100%;
}

body {
    background-color: #f1f4f9;
    color: #4e5e6a;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    position: relative;
}


/* NAVBAR
****************************************************************************** */
.navbar {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 0;
    /*box-shadow: 0 1px 8px 0 rgba(51, 51, 51, 0.2);*/
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    height: 60px;
    margin: auto;
    padding: 0;
    z-index: 999;
}

.navbar-nav > li {
    height: 60px;
}

.navbar-brand,
.navbar-nav > li > a {
    color: #5f5f5f;
    display: block;
    line-height: 20px;
    padding: 20px 18px;
    position: relative;
}

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background: none;
    border: 0;
}

.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a {
    color: #4e5e6a;
    font-size: 13px;
    padding: 6px 20px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background: none;
    border-left: 2px solid #7266ba;
}

.dropdown-menu > li > a span {
    display: block;
    font-weight: bold !important;
}

.dropdown-menu > li > a small {
    font-weight: normal;
}

/* Helps position submenu */
.dropdown-submenu {
    position: relative;
}
/* Menus under the submenu should show up on the right of the parent */
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}
/* Make submenu visible when hovering on link */
.dropdown-submenu:hover > .dropdown-menu .dropdown-menu { display: none; }
.dropdown-submenu:hover .dropdown-submenu:hover > .dropdown-menu { display: block; }

/* Add carot to submenu links */
.dropdown-submenu>a:after {
    display: block;
    float: right;
    /*simple */
    content: "?";
    color: #cccccc;
    /* looks a little better */
    content: " ";
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}


/* PAGE
****************************************************************************** */
.page-inner {
    min-height: 100%;
    overflow: hidden;
    padding: 60px 0;
    position: relative;
}

.page-title {
    background-color: #e9edf2;
    /*background-color: #f6f8f8;*/
    border-bottom: 1px solid #dee2e8;
    padding: 20px;
}

.page-title h3 {
    color: #74767d;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 4px;
    padding: 0;
}

.page-wrapper {
    margin: 20px;
    padding: 0;
}

.page-footer {
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    display: block;
    padding: 19px 25px;
    position: absolute;
    width: 100%;
}


/* VIEW IFRAME
****************************************************************************** */
#view-iframe {
    background-color: #fff;
    border-left: 1px solid #eaeef1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4), 0 2px 0 rgba(0, 0, 0, 0.4), 0 2px 0 rgba(0, 0, 0, 0.4), 0 2px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    z-index: 999;

    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

#view-iframe #content-iframe {
    overflow: visible;
}

#view-iframe .loader {
    display: block;
    font-size: 50px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

#view-iframe.active {
    width: 65%;
}

#view-iframe .panel {
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
}

#view-iframe .panel .panel-heading {
    background-color: #f1f4f9;
    border-bottom: 1px solid #dee2e8 !important;
    font-size: 20px;
    font-weight: 300;
    height: 60px;
}

#view-iframe .panel .panel-body {
    border-bottom: none;
    margin-bottom: 0;
    padding: 20px !important;
}

#view-iframe .panel .panel-body .modal-footer {
    margin-top: 20px;
}

#view-iframe .menu {
    border-bottom: 1px solid #eaeef1;
    margin: 0 0 15px 0;
    padding: 0 15px 15px 15px;
}

#view-iframe .menu .form-group {
    margin: 0;
}

#view-iframe-close {
    color: #000;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.2;
    position: absolute;
    right: 24px;
    text-shadow: 0 1px 0 #fff;
    top: 19px;
    z-index: 9999;
}


/* UI
****************************************************************************** */
.fa {
    margin-right: 5px;
}

/* Links */
a {
    color: #58666e;
}

/* Buttons */
.btn {
    border-radius: 2px;
    font-size: 13px;
    font-weight: 500;
    min-width: 90px;
    outline: 0 none !important;
}

.btn-default {
    background-color: #fff;
    border-color: #dee5e7 #dee5e7 #d8e1e3;
    box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
    color: #58666e !important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #edf1f2;
    border-color: #c7d3d6;
    color: #58666e !important;
}

.btn-primary {
    background-color: #7266ba;
    border-color: #7266ba;
    color: #fff !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #6254b2;
    border-color: #5a4daa;
    color: #fff !important;
}

.btn-success {
    background-color: #27c24c;
    border-color: #27c24c;
    color: #fff !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #23ad44;
    border-color: #20a03f;
    color: #fff !important;
}

.btn-info {
    background-color: #23b7e5;
    border-color: #23b7e5;
    color: #fff !important;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-color: #19a9d5;
    border-color: #189ec8;
    color: #fff !important;
}

.btn-warning {
    background-color: #fad733;
    border-color: #fad733;
    color: #fff !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-color: #f9d21a;
    border-color: #f9cf0b;
    color: #fff !important;
}

.btn-danger {
    background-color: #f05050;
    border-color: #f05050;
    color: #fff !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #ee3939;
    border-color: #ed2a2a;
    color: #fff !important;
}

.btn-dark {
    background-color: #3a3f51;
    border-color: #3a3f51;
    color: #fff !important;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
    background-color: #2f3342;
    border-color: #292d39;
    color: #fff !important;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default.active {
    background-color: #fcfdfd;
    border-color: #dee5e7;
}

/* Buttons sizes */
.btn-lg,
.btn-group-lg > .btn {
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 16px;
}

.btn-sm,
.btn-group-sm > .btn {
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}

.btn-xs,
.btn-group-xs > .btn {
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}

/* Typografy */
h1, h2, h6 {
    font-weight: 300;
}

h3, h4, h5 {
    font-weight: 600;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

p {
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 22px;
    margin: 0 0 10px;
    white-space: normal;
}

.text-muted {
    color: #4e5e6a !important;
}

.text-primary {
    color: #4e5e6a !important;
}

.text-success {
    color: #27c24c !important;
}

.text-info {
    color: #23b7e5 !important;
}

.text-warning {
    color: #fad733 !important;
}

.text-danger {
    color: #f05050 !important;
}

/* Panels */
.panel {
    border: 0 none !important;
    border-radius: 0;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

.panel .panel-heading {
    border: 0 none !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-weight: 600;
    height: 55px;
    overflow: hidden;
    padding: 15px;
}

.panel-title {
    font-size: 14px;
    margin-top: 8px;
}

.panel .panel-heading + .panel-body {
    padding: 0 10px 15px;
}

.panel .panel-body {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 15px;
    position: relative;
}

.panel-white {
    background: none repeat scroll 0 0 #fff;
}

/* Tables */
.table {
    margin-bottom: 0;
    width: 100% !important;
}

.table > thead > tr > th {
    border-bottom: 1px solid #eaeff0;
    padding: 8px 15px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fafbfc;
}

.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #eaeff0;
    padding: 8px 15px;
}

.no-filter .dataTables_filter,
.no-filter .row:first-child,
.no-filter .row:last-child {
    display: none;
}

/* Forms */
label {
    font-weight: normal;
}

.form-control, .form-control:focus {
    box-shadow: none;
}

.form-control {
    border-color: #cfdadd;
    border-radius: 2px;
    font-size: 13px;
}

.form-control:focus {
    border-color: #23b7e5;
}


/* TABLES
****************************************************************************** */
.table tr th.w-20,
.table tr td.w-20 {
    width: 20px !important;
}

.table tr th.w-100,
.table tr td.w-100 {
    width: 100px !important;
}

.table tr th.w-200,
.table tr td.w-200 {
    width: 200px !important;
}

.table tr th.w-350,
.table tr td.w-350 {
    width: 350px !important;
}

/* UPLOAD IMAGES PREVIEW
****************************************************************************** */
.previewCategory{         
    width: 100%;
    height: auto;          
}

.previewProduct{
    width: 150px;
    height: 150px;
}

.previewTexture{
    width: 35px;
    height: 35px;
}
